ion-img{
    width: 100%;
    height: 45vh !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




// ion-item{

//     ion-button.iconStart{

//         ion-icon.cora{

//             cora.hover{
//                 a.screen-reader-text:hover {color:#1717FF}
//             }
//         }       
        
//     }

// }

// ion-item {
//     --inner-padding-end: 0 !important;
//     --padding-start: 10px !important;
//     ion-label {
//         font-size: 0.9rem;
//         p {
//             font-size: 0.85rem;
//         }
//     }
//     .iconsStart {
//         margin: 0 5px 0 0 !important;
//         ion-icon {
//             font-size: 1.5rem;
//             cora{
//                 a.skip-link:hover {color:#1717FF}
//             }
            
//         }
//     }
// }